@import "tailwindcss";

#loader {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
  color: white;

  z-index: 9999;
}

#content {
  opacity: 1;
}

      body {
        font-family: Inter, Roboto, 'Helvetica Neue', sans-serif;
        margin: 0;
      }

      .loading-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        pointer-events: none;
      }

      .panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .color1 {
        z-index: 4;
        background-color: #FFCA95;
      }
      .color2 {
        z-index: 3;
        background-color: #FF7873;
      }
      .color3 {
        z-index: 2;
        background-color: #E22F80;
      }
      .color4 {
        z-index: 1;
        background-color: #8140DC;
      }

      .scrollable-area {
        height: 200vh;
      }

      .main-tool-bar {
        height: 80px;
        background: linear-gradient(
          144.02deg,
          var(--color-blue, #3b82f6) 4.56%,
          var(--color-pink, #3b82f6) 72.98%
        );
        color: #ffffff;
        font-weight: 600;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100; /* Menjaga header tetap berada di atas konten saat di-scroll */
      }
  #loader {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: black;

    z-index: 9999;
  }